.body-margin{
    margin-left: 400px;
    margin-top: 10px;
    height: 1400px;

}

.bg-color{
    background: var(--main-purple-hover, #A8A4FF);

}

.btn-sub{
    border-radius: 6px;
    background: var(--Main-Purple, #635FC7);
    width: 120px;
    height: 40px;
}

.add-task{
    width: 174px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--Main-Purple, #635FC7);

}

.taskWave-svg{
    width: 24px;
    height: 25px;
    flex-shrink: 0;
}

.add-new-task-text{
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;

/* Heading (M) */
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-new-task-btn{
    width: 164px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--Main-Purple, #635FC7);
    border: none;
}

.add-new-task-btn:hover {
    background-color: #297fb8;
    color: #f0f0f0;
}


.btn-workSpace{
    width: 206px;
    height: 48px;
    flex-shrink: 0;
    border: none;
    background-color: transparent; /* or background-color: initial; */
   
}

.btn-workSpace:hover{
    background: var(--Main-Purple, #635FC7);
    border-radius: 0px 100px 100px 0px;
    color: #f0f0f0;
}

.new-column-btn{
    color: var(--Medium-Grey, #828FA3);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
/* Heading (XL) */
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: transparent;
    margin-top: 300px;
}
.btn-edit{

    width: 5px;
    height: 48px;
    flex-shrink: 0;
    border: none;
    background-color: transparent;

}
