# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
# .env

# Logs
logs/
*.log

# Build files
dist/

# Dependency directories
.pnpm/
.npm/
pnpm-lock.yaml
yarn.lock

# Editor-specific files
.vscode/
.idea/
*.sublime-*
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Configuration files
config.js
config.json

# Application-specific files and directories
public/uploads/
